.frmb {
  list-style-type: none;
  min-height: 200px;
  border-radius: 5px;
  margin: 0 0 5px;
  padding: 0;

  li {
    clear: both;
    position: relative;
    margin: 0 0 3px;
    background-color: $white;
    padding: 6px;

    &:first-child {
      border-radius: 5px 5px 0 0;

      .field-actions {
        .del-button {
          border-radius: 0 5px 0 0;
        }
      }
    }

    &:last-child {
      border-radius: 0 0 5px 5px;
      margin-bottom: 0;
    }

    &:hover {
      box-shadow: 0 0 2px $grey;

      li:hover {
        background: #fefefe;
      }

      .field-actions {
        display: block;
      }
    }

    &.no-fields label {
      font-weight: 400;
    }

    &.frmb-placeholder, &.ui-state-highlight {
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#545454+0,000000+75&amp;1+0,0+75 */
      background: -moz-radial-gradient(center, ellipse cover, rgba(84, 84, 84, 1) 0%, rgba(0, 0, 0, 0) 75%);
      /* FF3.6+ */
      background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(84, 84, 84, 1)), color-stop(75%, rgba(0, 0, 0, 0)));
      /* Chrome,Safari4+ */
      background: -webkit-radial-gradient(center, ellipse cover, rgba(84, 84, 84, 1) 0%, rgba(0, 0, 0, 0) 75%);
      /* Chrome10+,Safari5.1+ */
      background: -o-radial-gradient(center, ellipse cover, rgba(84, 84, 84, 1) 0%, rgba(0, 0, 0, 0) 75%);
      /* Opera 12+ */
      background: -ms-radial-gradient(center, ellipse cover, rgba(84, 84, 84, 1) 0%, rgba(0, 0, 0, 0) 75%);
      /* IE10+ */
      background: radial-gradient(ellipse at center, rgba(84, 84, 84, 1) 0%, rgba(0, 0, 0, 0) 75%);
      /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545454', endColorstr='#00000000',GradientType=1 );
      /* IE6-9 fallback on horizontal gradient */
      border: 0 none;
      -webkit-clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
      clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
      border: 0 none;
      height: 5px;
      visibility: visible;
    }

    &.disabled input[type=checkbox] {
      float: left;
      margin-right: 10px;
    }

    &.disabled label {
      font-size: 12px;
      font-weight: 400;
      color: $grey;
    }

    &.disabled .prev-holder {
      cursor: default;
      line-height: 28px;
      padding-left: 5px;
    }

    a.remove {
      opacity: 1;
    }
  }

  .field-actions {
    display: none;
    float: right;
    margin: -7px -7px 0 0;

    .btn {
      cursor: default;
      line-height: 26px;
      border-left: 1px solid $grey-light-30;
      border-bottom: 1px solid $grey-light-30;
      color: $grey;

      &.del-button {
        font-size: 20px;
        border-radius: 0;

        &:hover {
          border-color: $remove;
          color: $remove;
        }
      }

      &.toggle-form {
        border-radius: 0 0 0 5px;
        font-size: 16px;

        &:hover {
          border-color: $black;
          color: $black;
        }
      }

      &:hover {
        text-decoration: none;
        color: $black;
      }
    }
  }

  li.delete:hover, li:hover li.delete:hover {
    background-color: #fdd;
  }

  &.disabled {
    padding: 0 5px;

    :hover {
      border-color: transparent;
    }

    .form-element {
      float: none;
      margin-bottom: 10px;
      overflow: visible;
      padding: 5px 0;
      position: relative;
    }

    .tooltip-element {
      display: inline;
      visibility: visible;
    }
  }

  .field-properties {
    display: none;
    background: #f7f7f7;
    box-shadow: inset 0 0 2px 0 #999;
    border-radius: 3px;
    margin: 13px 0 0;
    padding: 2%;

    .false-label,
    .fields {
      margin-top: 10px;
    }

    .fields {
      width: 70%;
      float: left;

      div {
        clear: both;
        position: relative;
      }

      input[type=checkbox],
      input[type=radio] {
        float: left;
        margin-right: 5px;
      }

      .remove {
        right: 11px;
        top: 50%;
        margin-top: -11px;
        border-radius: 0 3px 3px 0;
      }
    }

    .fields .add-area .add {
      clear: both;
    }

    .sortable-options li:nth-child(1) .remove,
    .sortable-options li:nth-child(2) .remove {
      display: none;
    }
  }

  ol.sortable-options {
    margin-top: 0;
  }

  ol.sortable-options li {
    cursor: move;
  }

  .field-properties .fields input[type=text] {
    width: 39%;
    margin-right: 2%;
  }

  .field-properties input[type=text] {
    width: calc( 80% - 4px);
    transition: background 250ms ease-in-out;
    padding: 1%;
    border: 1px solid #AFAFAB;
    background-color: $white;
  }

  .field-properties input[type=text].error {
    -webkit-border-radius: 0;
    border-radius: 0;
    border: 1px solid $error;
  }

  .field-properties input[type=text].fld-max-length {
    width: 10%;
  }

  .field-properties input.field_error {
    background: $off-white;
    border: 1px solid #afafab;
  }

  .field-properties .false-label,
  .field-properties label {
    width: 16%;
    float: left;
    padding-right: 2%;
    font-weight: 700;
    text-align: right;
  }

  .field-properties label.multiple,
  .field-properties label.required_label,
  .field-properties label.roles_label {
    float: none;
    display: inline;
    font-weight: 400;
    width: auto;
  }

  .field-properties label em {
    display: block;
    font-weight: 400;
    font-size: 0.75em;
  }

  .field-properties label.max-length-label {
    line-height: 1em;
  }

  .field-properties .allow-multi input {
    margin-top: 10px;
  }

  .field-properties .allow-multi,
  .field-properties .name_wrap,
  .field-properties .select-option {
    // display: none;

  }

  .tooltip {
    left: 20px;
  }

  .prev-holder {
    display: block;

    label {
      display: none;
    }

    textarea {
      min-height: 70px;
    }
  }

  .radio-group, .checkbox-group {
    label {
      display: block;
    }
  }

  .required_asterisk {
    display: none;
  }

  .field-label {
    font-size: 1.1em;
    line-height: 2.15em;
    margin-bottom: 5px;
  }

  .field-actions {
    color: $grey;
  }

  .disabled .field-label {
    display: block;
  }
}
